body {
    background-color: lavender;
    width: 80%;
    height: 80%;
    margin: auto;
}

#flag-div {
    border: 1px solid red;
    width: 80%;
    height: 10vh;
    background-image: linear-gradient(to left,red, red, red, white, white, white, blue, blue, blue);
    border-radius: 10%;
    background-clip: text;
    color: transparent;
    margin: auto;
    padding: 0;
}

#title {
    
        background-image: linear-gradient(to left, red,red, red, red, white, white, blue, blue, blue, blue);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
}

ul {
    list-style: none;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1em;
    justify-content: center;
    justify-content: space-evenly;
}

li {
    border: solid 1px white;
    padding: 5px;
    margin: 20px;
}

li:hover {
   background-color: lightblue;
}


#first-left {
    position: relative;
    left: 200px;
    width: 40%;
    z-index: 2;
}

#first-right {
    position: relative;
    z-index: 1;
    width: 40%;
    top: 300px;
    left: 150px;
}

#second-left {
    position: relative;
    left: 200px;
    top: 100px;
    width: 40%;
    z-index: 0;
}

#second-right {
    position: relative;
    z-index: 3;
    width: 40%;
    top: 450px;
    left: 150px;
}

#image-div {
    border: 3px solid red;
    display: inline-block;
    height: 150%;
}

#third-left {
    position: relative;
    left: 200px;
    top: 300px;
    width: 40%;
    z-index: 4;
}

